br {
    margin-bottom: 5vh;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
}

body {background-image: url (img-final.jpg);}

.areaprincipal {width: 55%;
                background-color:rgb(169, 206, 255);
                margin:0 auto;}


